.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  color: #fff;
  padding: 1rem;
  min-width: 200px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
li {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.main-content {
    padding: 10px;
    color: #6b6b6b;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    min-width: auto;
    width: 100%;
  }
}
